/* <style> */
  .about-section {
    text-align: center;
    padding: 50px 0;
  }
  .about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .about-section img {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 20px;
  }
    .about-research-field img {
    max-width: 1100px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  
  .about-section p {
    color: #333;
  }

  /* Additional CSS for Projects Section */
.projects-section h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
}
.card {
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Adds a subtle shadow around the card */
}
.card-img-top {
  max-height: 180px; /* Adjust this value to fit the image properly in the card */
  object-fit: cover; /* This makes sure the image covers the area properly */
}
.card-body {
  padding: 15px;
  text-align: center; /* Add this line to center content */
}
.card-title {
  font-size: 1.25rem;
}
.card-text {
  margin-bottom: 15px;
}

/* Additional CSS for Skills Section */
.skills-section h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
}
.skills-section .card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.skills-section .card-img-top {
  padding: 20px; /* Add padding around your images if needed */
  background-color: #f8f9fa; /* Adjust the background color if your images have transparent areas */
  height: 180px; /* Fixed height for consistency */
  object-fit: contain; /* This will make sure the image is scaled properly within the container */
}
.skills-section .card-body {
  padding: 15px;
}
.skills-section .card-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.skills-section .btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
.skills-section .btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Additional CSS for Contact Section */
.contact-section {
  padding: 50px 0;
}
.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.social-icon {
  width: 50px; /* Size of your icons */
  margin-bottom: 10px;
}
/* Hover effect for icons */
.social-icon:hover {
  opacity: 0.7;
}
/* Style for links in the Contact section */
.contact-section a {
  color: #fff;
  text-decoration: none; /* Removes underline from links */
  display: inline-block; /* Allows for margin on the bottom */
  margin-bottom: 10px;
}
.contact-section a:hover {
  color: #ddd; /* Color when hovering over the link */
}

/* CSS for Sticky Navbar */
.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a shadow for depth */
}

/* Ensure padding is added to body to avoid content being hidden behind the navbar */
body { 
  padding-top: 56px; /* Adjust this value based on the height of your navbar */
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Style for navigation bar links */
.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Slightly lighter white when hovering over links */
}

/* Media query for responsive navbar collapsing */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #343a40; /* Same as navbar color for seamless look */
  }
}

/* Additional CSS for Publication Section */
.publication-section ol{
  /* Add your custom styles for the publication section here */
  /* For example: */
  margin-top: 30px;
  padding-left: 50px; /* Adjust the padding to create space for the numbers */
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  list-style-position: outside;/* Ensures the numbers are outside the list item box */
  text-align: left;
    }
}

/* Style for list left alignment for the publications */
.publication-section li {
  text-align: left;
  margin: 0;
  padding: 50 0px;
}


/*For highlighting the text in the publicaiton*/
.highlighted {
  font-weight: bold; /* Makes text bold */
  /*background-color: yellow; /* Sets background color to yellow */
}